#divNewUser{
  display:none;
  position:fixed;
  width:20%;
  margin-left: auto;
  margin-right: auto;
  box-sizing:content-box;
  background-color: #EAEDED;
  border-radius: 8px;
  border:1px solid #553587;
  top:250px;
  left:40%;
  right: 40%;
}

#divEditUser{
  display:none;
  position:fixed;
  width:20%;
  margin-left: auto;
  margin-right: auto;
  box-sizing:content-box;
  background-color: #EAEDED;
  border-radius: 8px;
  border:1px solid #553587;
  top:250px;
  left:40%;
  right: 40%;
}

#confirmDelete{
  display:none;
  position:fixed;
  width:20%;
  margin-left: auto;
  margin-right: auto;
  box-sizing:content-box;
  background-color: #EAEDED;
  border-radius: 8px;
  border:1px solid #553587;
  top:250px;
  left:40%;
  right: 40%;
}
